body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    border-bottom: thin solid #5ca3a3;
}
h1, h2, h3 {
    color: #5ca3a3;
}
a:hover {
    color: #00cc66;
}
table {
    width: 600px;
    border: 1px outset gray;
}
td {
    #border-radius: 15px;
    #padding: 3px;
    #margin: 10px;
}
td.tableoutside {
}
td.tableheading {
    border: 1px inset gray;
    background-color: #a7cece;
}
td.tablecell {
    border: 1px inset gray;
    background-color: #cee3e3;
}
